<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedRainDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F08E7D71DAF8ADB00D61FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F08E7F01DAF8ADB00D61FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F08E7FB1DAF8ADB00D61FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
